.FotterLinks{
    width: 95%;
    height: 350px;
    flex-wrap: wrap;
    margin-left: 2.5%;
    text-align: left;
}
.PopularSearchBold{
    font-weight: 600;
    color: black;
}
.PupularSearchP{
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.325);

}